In [473]:
import pandas
data_training = pandas.read_csv('Train1.csv') 
data_testing = pandas.read_csv('valid1.csv') 
data_final = pandas.read_csv('final1.csv')

In [474]:
group = data_training[['mvar33','actual_vote']].groupby('mvar33').agg(lambda x: ','.join(x)).apply(list)
from pandas import DataFrame
from collections import Counter
dicl = DataFrame.to_dict(group)
zips = {}
for i in dicl['actual_vote'].keys():
    l = dicl['actual_vote'][i].split(',')
    if len(Counter(l)) == 1:
        zips[i] = [Counter(l).most_common(1)[0][0],Counter(l).most_common(1)[0][1],'Noone',0]
    else:
        zips[i] = [Counter(l).most_common(1)[0][0],Counter(l).most_common(1)[0][1],Counter(l).most_common(2)[1][0],Counter(l).most_common(2)[1][1]]

In [462]:
df1 = pandas.read_csv('Train1.csv') 
df2 = pandas.read_csv('valid1.csv')
df3 = pandas.read_csv('final1.csv')
frames = [df1, df2, df3]
df4 = pandas.concat(frames)

In [463]:
x = set(df4['mvar33'].values)
y = x - set(df1['mvar33'].values) 
group = df4[['mvar33','party_voted_past']].groupby('mvar33').agg(lambda x: ','.join(x)).apply(list)
from pandas import DataFrame
from collections import Counter
dicl = DataFrame.to_dict(group)
for i in list(y):
    l = dicl['party_voted_past'][i].split(',')
    if len(Counter(l)) == 1:
        zips[i] = [Counter(l).most_common(1)[0][0],Counter(l).most_common(1)[0][1],'Noone',0]
    else:
        zips[i] = [Counter(l).most_common(1)[0][0],Counter(l).most_common(1)[0][1],Counter(l).most_common(2)[1][0],Counter(l).most_common(2)[1][1]]

In [464]:
A = 0.30706475
B = 0.2
C = 0.1
D = 0.2
E = 0.17

for data_training in [df1,df2,df3]:
        data_training['Ebony'] = A*data_training['mvar2'] + B*data_training['mvar7'] + C*data_training['mvar12']  + D*data_training['mvar17'] + E*data_training['mvar22']
        data_training['Odyssey'] = A*data_training['mvar4'] + B*data_training['mvar9'] + C*data_training['mvar14']  + D*data_training['mvar19'] +E*data_training['mvar24']
        data_training['Tokugawa'] = A*data_training['mvar3'] + B*data_training['mvar8'] + C*data_training['mvar13']  + D*data_training['mvar18'] +E*data_training['mvar23']
        data_training['Cosmos'] = A*data_training['mvar5'] + B*data_training['mvar10'] + C*data_training['mvar15']  + D*data_training['mvar20'] +E*data_training['mvar25']
        data_training['Centaur'] = A*data_training['mvar1'] + B*data_training['mvar6'] + C*data_training['mvar11']  + D*data_training['mvar16'] +E*data_training['mvar21']
        Cit_pref1 = []
        lev_pref1 = []
        lev_pref2 = []
        Cit_pref2 = []
        city_change = []
        ACTIVITY = []
        prefs = ['Centaur','Ebony','Tokugawa','Odyssey','Cosmos']
        for i in range(len(data_training)):
            level = [data_training['Centaur'].values[i],data_training['Ebony'].values[i],data_training['Tokugawa'].values[i],data_training['Odyssey'].values[i],data_training['Cosmos'].values[i]]
            lev_pref1.append(sorted(level)[-1])
            Cit_pref1.append(prefs[level.index(sorted(level)[-1])])
            lev_pref2.append(sorted(level)[-2])
            if sorted(level)[-2] == 0.0:
                Cit_pref2.append('NONE')
            else:
                Cit_pref2.append(prefs[level.index(sorted(level)[-2])])
            if data_training['mvar32'].values[i] == data_training['mvar33'].values[i]:
                city_change.append(0)
            else:
                city_change.append(1)
                
        data_training['Cit_pref1'] = Cit_pref1
        data_training['lev_pref1'] = lev_pref1
        data_training['lev_pref2'] = lev_pref2
        data_training['Cit_pref2'] = Cit_pref2
        data_training['city_change'] = city_change
        ZIP_pref1 = []
        ZIP_pref2 = []
        ZIP_lev_pref1 = []
        ZIP_lev_pref2 = []
        for i in data_training['mvar33'].values:  
            ZIP_pref1.append(zips[i][0])
            ZIP_pref2.append(zips[i][2])
            ZIP_lev_pref1.append(zips[i][1])
            ZIP_lev_pref2.append(zips[i][3])
        data_training['ZIP_pref1'] =    ZIP_pref1
        data_training['ZIP_pref2'] =    ZIP_pref2
        data_training['ZIP_lev_pref1'] =    ZIP_lev_pref1
        data_training['ZIP_lev_pref2'] =    ZIP_lev_pref2
History_vote = []
Citizen_First_vote = []
for i in range(len(df1)):
    if df1['party_voted_past'].values[i] == df1['actual_vote'].values[i]:
        History_vote.append(1)
    else:
        History_vote.append(0)
for i in range(len(df1)):
    if df1['Cit_pref1'].values[i] == df1['actual_vote'].values[i]:
        Citizen_First_vote.append(1)
    else:
        Citizen_First_vote.append(0)
df1['History_vote'] = History_vote
df1['Citizen_First_vote'] = Citizen_First_vote

In [465]:
new_features_test= ['citizen_id','Ebony','Odyssey','Tokugawa','Cosmos','Centaur','Cit_pref2','city_change','ZIP_pref1','ZIP_pref2','mvar34','mvar35','mvar29','lev_pref1','lev_pref2','ZIP_lev_pref1','ZIP_lev_pref2','mvar27','mvar28','mvar31']
Feature = df1.columns[2:27]
new_features_train= ['citizen_id','Ebony','Odyssey','Tokugawa','Cosmos','Centaur','History_vote','Citizen_First_vote','Cit_pref2','city_change','ZIP_pref1','ZIP_pref2','actual_vote','mvar34','mvar35','mvar29','lev_pref1','lev_pref2','ZIP_lev_pref1','ZIP_lev_pref2','mvar27','mvar28','mvar31']

In [427]:
new_features_test = new_features_test +  list(Feature)
new_features_train = new_features_train + list(Feature)
for i in Feature:
    df1[i] = df1[i].astype(str)
    df2[i] = df2[i].astype(str)
df_train = df1[new_features_train][:]
df_test = df2[new_features_test][:]

In [428]:
df_train['mvar27'] = df_train['mvar27'].apply(str)
df_test['mvar27'] = df_test['mvar27'].apply(str)

In [429]:
Y = df_train['actual_vote']
del df_train['History_vote']
del df_train['Citizen_First_vote']
del df_train['actual_vote']
del df_train['citizen_id']
del df_test['citizen_id']

In [430]:
from sklearn.preprocessing import MinMaxScaler
MinMax = MinMaxScaler()
import warnings
warnings.filterwarnings('ignore')
df_train['lev_pref1'] = MinMax.fit_transform(df_train['lev_pref1'].values)
df_train['lev_pref2'] = MinMax.fit_transform(df_train['lev_pref2'].values)
df_train['ZIP_lev_pref1'] = MinMax.fit_transform(df_train['ZIP_lev_pref1'].values)
df_train['ZIP_lev_pref2'] = MinMax.fit_transform(df_train['ZIP_lev_pref2'].values)
df_test['lev_pref1'] = MinMax.fit_transform(df_test['lev_pref1'].values)
df_test['lev_pref2'] = MinMax.fit_transform(df_test['lev_pref2'].values)
df_test['ZIP_lev_pref1'] = MinMax.fit_transform(df_test['ZIP_lev_pref1'].values)
df_test['ZIP_lev_pref2'] = MinMax.fit_transform(df_test['ZIP_lev_pref2'].values)
df_test['ZIP_lev_pref1'] = MinMax.fit_transform(df_test['ZIP_lev_pref1'].values)
df_test['ZIP_lev_pref2'] = MinMax.fit_transform(df_test['ZIP_lev_pref2'].values)
df_test['mvar35'] = MinMax.fit_transform(df_test['mvar35'].values)
df_test['mvar34'] = MinMax.fit_transform(df_test['mvar34'].values)
df_train['mvar35'] = MinMax.fit_transform(df_train['mvar35'].values)
df_train['mvar34'] = MinMax.fit_transform(df_train['mvar34'].values)

df_train['mvar28'] = MinMax.fit_transform(df_train['mvar28'].values)
df_train['mvar31'] = MinMax.fit_transform(df_train['mvar31'].values)
df_train['mvar29'] = MinMax.fit_transform(df_train['mvar29'].values)

df_test['mvar28'] = MinMax.fit_transform(df_test['mvar28'].values)
df_test['mvar31'] = MinMax.fit_transform(df_test['mvar31'].values)
df_test['mvar29'] = MinMax.fit_transform(df_test['mvar29'].values)

In [431]:
#ENCODING
X_train = df_train.to_dict('records')
X_test = df_test.to_dict('records')
X_tr = []
X_te = []
X_tr.extend(X_train)
X_te.extend(X_test)
X_total = X_tr + X_te

In [432]:
#One Hot Encoding 
from sklearn.feature_extraction import DictVectorizer 
enc = DictVectorizer(sparse = True)
X_encoded_total =enc.fit_transform(X_total)
X_encoded_train =X_encoded_total[:len(X_tr)]
X_encoded_test =X_encoded_total[len(X_tr):]

In [433]:
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier,ExtraTreesClassifier,BaggingClassifier,voting_classifier
from sklearn.ensemble import AdaBoostClassifier

In [454]:
from sklearn.linear_model import LogisticRegression
clf11 = GradientBoostingClassifier(n_estimators=500,learning_rate=0.01)
clf10 = LogisticRegression(n_jobs=-1)
clf11.fit(X_encoded_train,Y)
#clf11.fit(X_encoded_train,Y)
#clf11.fit(X_encoded_train,Y_H)
#clf12.fit(X_encoded_train,Y_C)

GradientBoostingClassifier(init=None, learning_rate=0.01, loss='deviance',
              max_depth=3, max_features=None, max_leaf_nodes=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=500,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [457]:
#sol = clf11.predict(X_encoded_test.toarray())
sol_pred = clf11.predict_proba(X_encoded_test.toarray())
df2['predicted'] = sol

In [458]:
from pandas import DataFrame
df = DataFrame({'t1': sol})

In [459]:
df.to_csv('Ss79.csv')

In [254]:
Voted_first_priorty = []
History_vote = []
for i in range(len(df1)):
    if df1['Cit_pref1'].values[i] == df1['actual_vote'].values[i]:
        History_vote.append(1)
    else:
        History_vote.append(0)
Y_net= History_vote
L1 = []
L2 = []
L = []
LLL = []
M1 = []
M2 = []
M = []
for i in range(len(df1)):
    act = {}
    act['Ebony'] = [df1['mvar2'].values[i],df1['mvar7'].values[i],df1['mvar12'].values[i], df1['mvar17'].values[i],df1['mvar22'].values[i]]
    act['Odyssey'] = [df1['mvar4'].values[i],df1['mvar9'].values[i],df1['mvar14'].values[i], df1['mvar19'].values[i],df1['mvar24'].values[i]]
    act['Tokugawa'] = [df1['mvar3'].values[i],df1['mvar8'].values[i],df1['mvar13'].values[i], df1['mvar18'].values[i],df1['mvar23'].values[i]]
    act['Cosmos'] = [df1['mvar5'].values[i],df1['mvar10'].values[i],df1['mvar15'].values[i], df1['mvar20'].values[i],df1['mvar25'].values[i]]
    act['Centaur'] = [df1['mvar1'].values[i],df1['mvar6'].values[i],df1['mvar11'].values[i], df1['mvar16'].values[i],df1['mvar21'].values[i]]
    act['NONE'] = [0,0,0,0,0]
    L1.append(act[df1['Cit_pref1'].values[i]])
    L2.append(act[df1['Cit_pref2'].values[i]])
    L.append(act[df1['Cit_pref1'].values[i]]+act[df1['Cit_pref2'].values[i]])
for i in range(len(df2)):
    act = {}
    act['Ebony'] = [df2['mvar2'].values[i],df2['mvar7'].values[i],df2['mvar12'].values[i], df2['mvar17'].values[i],df2['mvar22'].values[i]]
    act['Odyssey'] = [df2['mvar4'].values[i],df2['mvar9'].values[i],df2['mvar14'].values[i], df2['mvar19'].values[i],df2['mvar24'].values[i]]
    act['Tokugawa'] = [df2['mvar3'].values[i],df2['mvar8'].values[i],df2['mvar13'].values[i], df2['mvar18'].values[i],df2['mvar23'].values[i]]
    act['Cosmos'] = [df2['mvar5'].values[i],df2['mvar10'].values[i],df2['mvar15'].values[i], df2['mvar20'].values[i],df2['mvar25'].values[i]]
    act['Centaur'] = [df2['mvar1'].values[i],df2['mvar6'].values[i],df2['mvar11'].values[i], df2['mvar16'].values[i],df2['mvar21'].values[i]]
    act['NONE'] = [0,0,0,0,0]
    M1.append(act[df2['Cit_pref1'].values[i]])
    M2.append(act[df2['Cit_pref2'].values[i]])
    M.append(act[df1['Cit_pref1'].values[i]]+act[df1['Cit_pref2'].values[i]])

In [255]:
X_train = L
clf = GradientBoostingClassifier()
clf.fit(X_train,Y_net)
y_pred = clf.predict(M)
y_pred_proba = clf.predict_proba(M)

In [256]:
y_pred_confidence = []
for i in range(len(y_pred)):
    if y_pred_proba[i][0]*100 >= 80 or y_pred_proba[i][1]*100 >= 80:
        y_pred_confidence.append(i)

In [257]:
df2['Decision'] = clf.predict(M)
Voted_first_priorty = []
History_vote = []
for i in range(len(df2)):
    if df2['Cit_pref1'].values[i] == df2['predicted'].values[i]:
        History_vote.append(1)
    else:
        History_vote.append(0)
df2['Factual'] = History_vote    
df2['Decision'] = clf.predict(M)
#df2[['predicted','Cit_pref1','lev_pref1','Cit_pref2','lev_pref2','ZIP_pref1','ZIP_pref2','Decision','Factual']]

In [258]:
x = set(list(np.arange(21207)))
y = x - set(y_pred_confidence)

In [259]:
Updateframe = df2.drop(df2.index[list(y)])
predicted = []
Updateframe[['predicted','Cit_pref1','lev_pref1','Cit_pref2','lev_pref2','ZIP_pref1','ZIP_pref2','Decision','Factual']]
for i in range(len(Updateframe)):
    if Updateframe['Decision'].values[i] == Updateframe['Factual'].values[i]:
        predicted.append(Updateframe['predicted'].values[i])
    elif Updateframe['Decision'].values[i] == 1:
        predicted.append(Updateframe['Cit_pref1'].values[i])
    else:
        my_set=set([Updateframe['Cit_pref2'].values[i],Updateframe['ZIP_pref1'].values[i],Updateframe['ZIP_pref2'].values[i]])
        my_set.discard('Noone')
        my_set.discard('NONE')
        my_set.discard(Updateframe['Cit_pref1'].values[i])
        lis = list(my_set)
        if len(list(my_set)) == 0:
             predicted.append(Updateframe['predicted'].values[i])
        else:
            predicted.append(lis[0])
Updateframe['predicted'] = predicted

In [ ]:
'party_voted_past','actual_vote','Cit_pref1','lev_pref1','Cit_pref2','lev_pref2','ZIP_pref1','ZIP_pref2'

In [377]:
History_vote = []
for i in range(len(df1)):
    if df1['Cit_pref1'].values[i] == df1['party_voted_past'].values[i]:
        if df1['party_voted_past'].values[i] == df1['actual_vote'].values[i]:
             History_vote.append(1)
        else:
             History_vote.append(0)

In [379]:
len(History_vote)/float(len(df1))

0.8456817841640473

In [381]:
sum(History_vote)/float(len(History_vote))

0.8123893805309734

In [380]:
sum(History_vote)

41310

In [378]:
len(History_vote)

50850

In [439]:
History_vote = []
for i in range(len(df2)):
    if df2['Cit_pref1'].values[i] == df2['party_voted_past'].values[i]:
        if df2['party_voted_past'].values[i] == df2['predicted'].values[i]:
             History_vote.append(1)
        else:
             History_vote.append(0)

In [440]:
len(History_vote)/float(len(df2))

0.8435422266232848

In [441]:
sum(History_vote)/float(len(History_vote))

0.9632735200402482

In [442]:
sum(History_vote)

17232

In [444]:
len(df2) - len(History_vote)

3318

In [445]:
len(History_vote)

17889

In [446]:
History_vote = []
for i in range(len(df2)):
    if df2['party_voted_past'].values[i] == df2['predicted'].values[i]:
        History_vote.append(1)
    else:
        History_vote.append(0)

In [447]:
len(History_vote)

21207

In [448]:
sum(History_vote)/float(len(History_vote))

0.8514169849577969

In [451]:
sum(History_vote)

18056

In [450]:
10775/float(len(df2))

0.5080869524213703

In [382]:
History_vote = []
for i in range(len(df1)):
    if df1['party_voted_past'].values[i] == df1['actual_vote'].values[i]:
        History_vote.append(1)
    else:
        History_vote.append(0)

In [384]:
sum(History_vote)

45116

In [385]:
sum(History_vote)/float(len(History_vote))

0.750320145021537

In [296]:
df2[['predicted']].to_csv('Ss68.csv')

IOError: [Errno 13] Permission denied: 'Ss68.csv'

In [63]:
df1.drop(df1.index[Voted_first_priorty])[['party_voted_past','actual_vote','Cit_pref1','lev_pref1','Cit_pref2','lev_pref2','ZIP_pref1','ZIP_pref2']]

,party_voted_past,actual_vote,Cit_pref1,lev_pref1,Cit_pref2,lev_pref2,ZIP_pref1,ZIP_pref2
7,Cosmos,Tokugawa,Cosmos,31,Tokugawa,28,Tokugawa,Ebony
15,Centaur,Tokugawa,Centaur,44,Ebony,26,Tokugawa,Ebony
16,Ebony,Cosmos,Centaur,33,Ebony,31,Ebony,Tokugawa
19,Cosmos,Centaur,Cosmos,20,NONE,0,Cosmos,Odyssey
21,Ebony,Odyssey,Ebony,28,NONE,0,Ebony,Odyssey
27,Cosmos,Cosmos,Odyssey,43,Ebony,22,Odyssey,Cosmos
28,Odyssey,Tokugawa,Odyssey,80,Cosmos,15,Odyssey,Ebony
29,Centaur,Cosmos,Centaur,67,Ebony,24,Centaur,Tokugawa
32,Centaur,Centaur,Odyssey,29,Centaur,21,Odyssey,Ebony
35,Centaur,Centaur,Odyssey,29,Cosmos,15,Odyssey,Centaur
44,Cosmos,Cosmos,Odyssey,141,Cosmos,120,Cosmos,Centaur
50,Centaur,Tokugawa,Centaur,33,Odyssey,28,Odyssey,Tokugawa
59,Centaur,Cosmos,Ebony,41,Centaur,37,Centaur,Tokugawa
61,Cosmos,Cosmos,Ebony,29,Cosmos,21,Cosmos,Odyssey
64,Centaur,Cosmos,Centaur,40,Cosmos,29,Cosmos,Centaur
69,Odyssey,Cosmos,Odyssey,29,Centaur,22,Odyssey,Ebony
77,Centaur,Odyssey,Cosmos,22,Centaur,14,Cosmos,Centaur
83,Ebony,Ebony,Odyssey,111,Ebony,65,Odyssey,Centaur
85,Centaur,Cosmos,Centaur,29,Cosmos,22,Centaur,Odyssey
89,Cosmos,Ebony,Cosmos,36,NONE,0,Odyssey,Ebony
90,Cosmos,Cosmos,Tokugawa,29,Cosmos,18,Cosmos,Odyssey
95,Ebony,Cosmos,Ebony,33,Odyssey,28,Cosmos,Odyssey
98,Centaur,Cosmos,Centaur,49,Cosmos,27,Cosmos,Ebony
105,Odyssey,Ebony,Odyssey,22,Ebony,15,Odyssey,Centaur
110,Cosmos,Cosmos,Tokugawa,28,Cosmos,26,Centaur,Tokugawa
112,Centaur,Centaur,Ebony,15,Centaur,7,Centaur,Odyssey
117,Odyssey,Centaur,Odyssey,44,Cosmos,7,Centaur,Odyssey
123,Odyssey,Tokugawa,Odyssey,51,NONE,0,Cosmos,Tokugawa
132,Ebony,Ebony,Centaur,15,Ebony,14,Ebony,Tokugawa
141,Odyssey,Ebony,Odyssey,51,Centaur,22,Ebony,Odyssey
...,...,...,...,...,...,...,...,...
59998,Odyssey,Odyssey,Tokugawa,22,Tokugawa,22,Odyssey,Centaur
60002,Centaur,Cosmos,Centaur,85,Ebony,22,Ebony,Odyssey
60004,Centaur,Ebony,Centaur,57,Ebony,21,Centaur,Odyssey
60005,Odyssey,Tokugawa,Odyssey,37,Tokugawa,29,Tokugawa,Ebony
60010,Centaur,Ebony,Centaur,64,Odyssey,22,Ebony,Odyssey
60020,Centaur,Cosmos,Centaur,22,Cosmos,11,Centaur,Odyssey
60023,Cosmos,Ebony,Cosmos,85,Ebony,48,Ebony,Tokugawa
60024,Tokugawa,Cosmos,Tokugawa,32,Ebony,26,Cosmos,Ebony
60029,Centaur,Cosmos,Ebony,29,Centaur,21,Centaur,Cosmos
60034,Tokugawa,Ebony,Tokugawa,57,Ebony,22,Tokugawa,Ebony
60035,Centaur,Centaur,Odyssey,62,Centaur,44,Centaur,Cosmos
60041,Centaur,Centaur,Cosmos,79,Centaur,48,Odyssey,Cosmos
60044,Cosmos,Tokugawa,Cosmos,64,Centaur,22,Cosmos,Tokugawa
60047,Cosmos,Centaur,Cosmos,22,Centaur,21,Centaur,Odyssey
60053,Cosmos,Cosmos,Tokugawa,22,Cosmos,17,Tokugawa,Centaur
60054,Centaur,Odyssey,Centaur,50,Odyssey,36,Centaur,Odyssey
60058,Centaur,Ebony,Odyssey,29,Ebony,22,Odyssey,Centaur
60059,Odyssey,Cosmos,Odyssey,26,Cosmos,22,Cosmos,Tokugawa
60063,Cosmos,Odyssey,Cosmos,56,Odyssey,26,Centaur,Cosmos
60066,Centaur,Centaur,Odyssey,55,Centaur,22,Centaur,Cosmos
60068,Tokugawa,Odyssey,Tokugawa,98,Odyssey,31,Tokugawa,Ebony
60073,Cosmos,Centaur,Tokugawa,24,Cosmos,19,Tokugawa,Centaur
60083,Odyssey,Odyssey,Tokugawa,22,Tokugawa,22,Ebony,Odyssey
60084,Odyssey,Cosmos,Odyssey,40,Tokugawa,26,Tokugawa,Centaur
60088,Cosmos,Cosmos,Ebony,43,Cosmos,40,Ebony,Centaur
60089,Odyssey,Odyssey,Centaur,50,Odyssey,35,Centaur,Odyssey
60090,Cosmos,Ebony,Cosmos,36,Centaur,22,Cosmos,Centaur
60105,Cosmos,Centaur,Ebony,29,Ebony,29,Cosmos,Centaur
60120,Centaur,Odyssey,Centaur,29,NONE,0,Centaur,Odyssey
60122,Centaur,Cosmos,Centaur,36,NONE,0,Ebony,Odyssey

In [205]:
my_set=set([3,4,2])
my_set.discard(3)

In [206]:
my_set

{2, 4}

In [1]:
import h2o

In [7]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321. connected.

--------------------------  ------------------------------
H2O cluster uptime:         1 day 3 hours 44 mins
H2O cluster version:        3.10.0.7
H2O cluster version age:    1 month and 7 days
H2O cluster name:           H2O_from_python_Kowshik_sg2d5n
H2O cluster total nodes:    1
H2O cluster free memory:    1.463 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:
Python version:             2.7.10 final
--------------------------  ------------------------------

In [6]:
565000/50

11300

In [8]:
589650+77600

667250